header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12rem;
}

header img {
  width: 10rem;
}

header button {
  height: 3rem;
  width: 11.5rem;
  font-size: 1.2rem;
}

.user-log-create button {
  border: 1px solid #09b1ba;
  color: #09b1ba;
  background-color: white;
  border-radius: 5px;
  margin-left: 2rem;
}

.sell-button {
  border: transparent;
  border-radius: 5px;
  background-color: #09b1ba;
  color: white;
}

.disconnect-button {
  border: transparent;
  border-radius: 5px;
  background-color: #c2175b;
  color: white;
}

.user-info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.user-info > div:first-child {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 1px solid #09b1ba;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-info img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
}

.user-info p {
  position: absolute;
  top: 1.5rem;
  width: 20rem;
  font-size: 1.6rem;
  text-align: center;
  color: #09b1ba;
  font-weight: bold;
}

.user-menu {
  position: absolute;
  top: 8.8rem;
  width: 12rem;
}

.user-menu::before {
  position: absolute;
  bottom: 100%;
  left: calc(50% - 0.8rem);
  content: " ";
  border-width: 0.8rem;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: #09b1ba;
}

.user-menu div {
  text-align: center;
  font-size: 1.2rem;
  padding-block: 1rem;
  background-color: rgba(255, 255, 255, 0.911);
  border: 1px solid #09b1ba;
  color: #09b1ba;
}

/* .user-info :first-child > button {
  border: transparent;
  border-radius: 5px;
  background-color: #00bb6a;
  
}

.user-info :last-child > button {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #ffffff;
  color: black;
  width: 10rem;
} */

.search-bloc {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 64rem;
  height: 100%;
}

.price-search-bloc {
  display: flex;
  justify-content: space-between;
}

.price-search-bloc > div {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.checkbox-sort {
  margin-top: 2.5rem;
}

.checkbox-sort > div:first-of-type {
  display: flex;

  height: 3rem;
  align-items: center;
}

.range-bloc > div:first-of-type {
  display: flex;

  margin-top: 2.5rem;
}

.search-bloc div:first-of-type > input {
  margin-top: 0.5rem;
  width: 100%;
  height: 4rem;
  background-color: #e4e3e3;
}
.react-toggle--checked .react-toggle-track {
  background-color: #2cb1ba;
}

.toggle.react-toggle--checked:hover:not(.react-toggle--disabled)
  .react-toggle-track {
  background-color: #2cb1ba;
}

.toggle.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #2cb1ba;
}

.react-toggle:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #2cb1ba;
}

.react-toggle-track-check {
  height: 12px;
}

.react-toggle-track-x {
  height: 12px;
}
