header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 15rem;
  gap: 4rem;
  width: 100%;
  padding: 2rem;
}

header img {
  width: 10rem;
  margin-right: 4rem;
}

header button {
  height: 3rem;
  width: 10rem;
  font-size: 1.2rem;
}

.header-dynamic-element {
  display: flex;
  width: calc(100% - 18rem);
  justify-content: space-between;
  gap: 4rem;
}

.header-button {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.user-log-create {
  display: flex;
  gap: 2rem;
}

.user-log-create button {
  border: 1px solid #09b1ba;
  color: #09b1ba;
  background-color: white;
  border-radius: 5px;
}

.sell-button {
  border: transparent;
  border-radius: 5px;
  background-color: #09b1ba;
  color: white;
}

.user-info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: 0.5rem;
  padding-bottom: 0.5rem;
}

.user-info > div:first-child {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 1px solid #09b1ba;
  display: flex;
  align-items: center;
}

.user-info img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
}

.user-menu {
  position: absolute;
  top: 4.7rem;
  width: 12rem;
}

.user-menu::before {
  position: absolute;
  bottom: 100%;
  left: calc(50% - 0.8rem);
  content: " ";
  border-width: 0.8rem;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: #09b1ba;
}

.user-menu div {
  text-align: center;
  font-size: 1.2rem;
  padding-block: 1rem;
  background-color: rgba(255, 255, 255);
  border: 1px solid #09b1ba;
  color: #09b1ba;
}

.user-menu div:hover {
  background-color: #09b1ba;
  color: white;
}

.user-menu .disconnect-button {
  border: transparent;
  background-color: #c2175b;
  color: white;
}

.user-menu .disconnect-button:hover {
  cursor: pointer;
  background-color: #8a3859;
}

.search-bloc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 64rem;
}

.price-search-bloc {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.price-search-bloc > div {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.price-search-bloc > div label {
  margin-right: 1rem;
  width: 4rem;
}

.checkbox-sort {
  margin-top: 2.5rem;
}

.checkbox-sort > div:first-of-type {
  display: flex;

  height: 3rem;
  align-items: center;
}

.range-bloc {
  width: 64rem;
  padding-right: 2rem;
}

.range-bloc > div:first-of-type {
  display: flex;
  margin-top: 2.5rem;
}

.search-bloc div:first-of-type > input {
  margin-top: 0.5rem;
  width: 100%;
  height: 4rem;
  background-color: #e4e3e3;
}
.react-toggle--checked .react-toggle-track {
  background-color: #2cb1ba;
}

.toggle.react-toggle--checked:hover:not(.react-toggle--disabled)
  .react-toggle-track {
  background-color: #2cb1ba;
}

.toggle.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #2cb1ba;
}

.react-toggle:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #2cb1ba;
}

.react-toggle-track-check {
  height: 12px;
}

.react-toggle-track-x {
  height: 12px;
}

@media (max-width: 1250px) {
  header {
    padding-inline: 1rem;
  }
  header-dynamic-element {
    justify-content: flex-start;
  }
  .user-log-create {
    flex-direction: column-reverse;
    gap: 1rem;
  }
  .search-bloc {
    width: 70%;
  }
}

@media (max-width: 1135px) {
  .price-search-bloc > div {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
  }
  .search-bloc {
    width: 70%;
  }
  /* header {
    height: 15rem;
  } */
}

@media (max-width: 1060px) {
  .header-dynamic-element {
    justify-content: space-between;
  }
  .header-button {
    flex-direction: column-reverse;
    align-items: center;

    gap: 1rem;
  }

  .user-menu {
    top: 4.8rem;
  }
}

@media (max-width: 850px) {
  .header-dynamic-element {
    justify-content: space-between;
    width: 100%;
  }
  header {
    flex-direction: column;
    height: fit-content;

    gap: 2rem;
  }
  .search-bloc {
    width: 70%;
    gap: 1rem;
  }
  .search-bloc > div:first-of-type {
    width: 100%;
    align-self: center;
  }
}
@media (max-width: 650px) {
  .header-dynamic-element {
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
  }
  .header-button,
  .user-log-create {
    flex-direction: row;
  }
  .search-bloc {
    width: 90%;
    gap: 1rem;
  }
  .header-button {
    width: 100%;
    justify-content: space-around;
  }
  .user-menu {
    top: 4.65rem;
  }
}
