.hero-bloc {
  height: 47rem;
  background-image: url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hero-bloc p {
  font-size: 3.4rem;
  line-height: 4rem;
}

.hero-bloc > div {
  width: 1250px;
}

.hero-bloc .window {
  height: 27rem;
  width: 40rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 3rem;
}

.hero-bloc button {
  width: 18.5rem;
  height: 4.5rem;
  align-self: flex-start;
  font-size: 1.6rem;
}

@media (max-width: 925px) {
  .hero-bloc {
    height: 30rem;
  }

  .hero-bloc .window {
    height: 20rem;
    width: 30rem;
    gap: 2rem;
    padding: 1rem;
  }
  .hero-bloc p {
    font-size: 2.8rem;
    line-height: 3rem;
  }
  .hero-bloc button {
    width: 16rem;
    height: 3.5rem;
    align-self: flex-start;
    font-size: 1.4rem;
  }
}

@media (max-width: 600px) {
  .hero-bloc .window {
    height: 20rem;
    width: 20rem;
    gap: 2rem;
    padding: 1rem;
  }
  .hero-bloc p {
    font-size: 2.2rem;
    line-height: 3rem;
  }
  .hero-bloc button {
    width: 14rem;
    height: 3.5rem;
    align-self: center;
    font-size: 1.4rem;
  }
}
