main.offer-bloc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}

main.offer-bloc > div:first-of-type {
  align-self: center;
}

main.offer-bloc > div > p,
label {
  margin: 0 auto;
  padding: 2rem;
  font-weight: bold;
}

main.offer-bloc > div > p {
  margin: 0 auto;
  padding: 2rem;
  font-weight: bold;
}

.offers-cards {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  row-gap: 2rem;
}

.card {
  width: calc((100% - 1.5rem));
  display: flex;
  flex-direction: column;
}

.offer-home {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 23.5rem;
  height: 45rem;
  margin-bottom: 3rem;
}

.offer-home img {
  object-fit: cover;
  width: 100%;
  height: 36rem;
}

.offer-home div:last-of-type {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.offer-home:hover {
  cursor: pointer;
}

.offer-home span:not(.price) {
  font-size: 1.2rem;
  color: #999999;
}

.offer-home .price {
  font-size: 1.4rem;
}

.select-bloc {
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 5rem;
}

select {
  width: 15rem;
  height: 5rem;
  text-align: center;
  font-size: 1.6rem;
  background-color: #09b1ba;
  color: white;
  border-radius: 5px;
}

.chevron {
  font-size: 2.5rem;
  color: #2b9095;
}

.chevron:hover {
  cursor: pointer;
}

.select-bloc > .unvisible {
  visibility: hidden;
  margin-inline: 0.8rem;
}

.offer-user {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  min-height: 4rem;
}

.offer-user img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.icon-user-empty {
  border: 1px solid #ccc;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
}

select:hover {
  cursor: pointer;
}
