header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12rem;
}

header img {
  width: 10rem;
}

header button {
  height: 3rem;
  width: 11.5rem;
  font-size: 1.2rem;
}

.user-log-create button {
  border: 1px solid #09b1ba;
  color: #09b1ba;
  background-color: white;
  border-radius: 5px;
  margin-left: 2rem;
}

.sell-button {
  border: transparent;
  border-radius: 5px;
  background-color: #09b1ba;
  color: white;
}

.disconnect-button {
  border: transparent;
  border-radius: 5px;
  background-color: #c2175b;
  color: white;
}
