header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12rem;
}

header img {
  width: 10rem;
}

header button {
  height: 3rem;
  width: 11.5rem;
  font-size: 1.2rem;
}

.user-log-create button {
  border: 1px solid #09b1ba;
  color: #09b1ba;
  background-color: white;
  border-radius: 5px;
  margin-left: 2rem;
}

.sell-button {
  border: transparent;
  border-radius: 5px;
  background-color: #09b1ba;
  color: white;
}

.disconnect-button {
  border: transparent;
  border-radius: 5px;
  background-color: #c2175b;
  color: white;
}

.search-bloc {
  display: flex;
  flex-direction: column;

  width: 64rem;
  height: 100%;
}

.price-search-bloc {
  display: flex;
  justify-content: space-between;
}

.price-search-bloc > div {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.checkbox-sort {
  margin-top: 2.5rem;
}

.checkbox-sort > div:first-of-type {
  display: flex;

  height: 3rem;
  align-items: center;
}

.range-bloc > div:first-of-type {
  display: flex;

  margin-top: 2.5rem;
}

.search-bloc div:first-of-type > input {
  margin-top: 0.5rem;
  width: 100%;
  height: 4rem;
  background-color: #e4e3e3;
}
.react-toggle--checked .react-toggle-track {
  background-color: #2cb1ba;
}

.toggle.react-toggle--checked:hover:not(.react-toggle--disabled)
  .react-toggle-track {
  background-color: #2cb1ba;
}

.toggle.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #2cb1ba;
}

.react-toggle:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #2cb1ba;
}

.react-toggle-track-check {
  height: 12px;
}

.react-toggle-track-x {
  height: 12px;
}
