.form-bloc,
.form-bloc form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-bloc :is(input, button, span, p) {
  margin-bottom: 4rem;
}

.form-bloc input:not(input[type="checkbox"]) {
  width: 28rem;
  height: 4rem;
  border: none;
  border-bottom: 1px solid rgb(248, 115, 115);
  font-size: 1.6rem;
  outline: none;
}

.newsletter-item {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  width: 28rem;
  height: 4rem;
}

.newsletter-item > input {
  transform: scale(2);
  outline: none;
}

.newsletter-item > span {
  font-size: 1.6rem;
  color: #666666;
}
.form-bloc p:not(.error-message) {
  font-size: 1.2rem;
  width: 28rem;
}

.form-bloc button:not(.close-button) {
  width: 28rem;
  height: 4.5rem;
  border: transparent;
  border-radius: 10px;
  background-color: #2cb1ba;
  font-size: 1.6rem;
  color: white;
  outline: none;
}

.form-bloc p:not(.error-message) {
  color: #999999;
  line-height: 1.4rem;
}

.question-user {
  text-align: center;
  color: #2cb1ba;
  font-size: 1.2rem;
  width: 28rem;
}

.error-message {
  color: red;
  font-size: 1.4rem;
}

.close-button {
  align-self: flex-end;
  border: none;
  background-color: transparent;
  font-size: 2rem;
}
